.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.skills-section h2 {
    text-align: center;
}
  
.skill-item {
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    background-color: #eaeaea;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.skill-item:hover {
    background-color: #ddd;
}
  
@media (max-width: 768px) {
.skill-item {
    font-size: 14px;
    padding: 8px 16px;
    }
}