.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2C2B3C;
  }
  
  .navbar-logo img {
    max-width: 100px; /* Adjust the size of the logo */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li a {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-menu li a:hover {
    color: #B76D68;
  }